# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Generated datasets
dataset_features/
sequences/

# Generated feature files
features.csv
*.npy

# Trained models
models/
*.pt
*.pth

# Dataset
C:\Datasets\
UCF-Crime/

# IDE
.vscode/
.idea/

# Python
*.log

.env
.venv/
__pycache__/
*.mp4
outputs/
dataset_features/
dataset_features_v2/
sequences/
sequences_v2/